@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s ease;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

a {
    color: #1395ff;
}

.background {
    width: 100vw;
    min-height: 100vh;
    /* purple: #a255eb, #8727e0 */
    /* blue: #1395ff, #0365b6 */
    background: linear-gradient(90deg, #0365b6, #1395ff);
}

.blue {
    background-color: #1395ff;
    color: white;
}

.top {
    width: 100%;
    height: 100px;
    padding: 5px;
}

.topLeft {
    margin-left: 2px;
}

.topLeft > a {
    float: left;
    color: #fff;
}

.topRight {
    float: right;
    color: #fff;
}

.topRight > a {
    color: #fff;
    border-radius: 3px;
    display: inline-block;
}

.linkWhite:hover {
    border-radius: 3px;
    color: #1395ff;
    background-color: #fff;
    padding: 0 2px;
    margin: 0 -2px;
}

.linkBlue:hover {
    border-radius: 3px;
    color: #fff;
    background-color: #1395ff;
    padding: 0 2px;
    margin: 0 -2px;
}


.container {
    width: 100%;
}

.main {
    width: calc(100% - 600px);
    background-color: rgb(0,0,0,0.5);
    border-radius: 15px 15px 0 0;
    float: left;
    transition: width 0.2s ease;
}

.mainTop {
    height: 50px;
    margin: 0 auto;
    color: white;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
}

.mainTop > a {
    color: white;
}

.mainContent {
    background-color: #fff;
    box-shadow: 0 0 2px #333;
    border-radius: 15px 15px 0 0;
    width: 100%;
    min-height: calc(100vh - 150px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.left {
    width: 300px;
    float: left;
    min-height: calc(100vh - 165px);
    transition: width 0.2s ease;
}

.leftInner {
    background-color: #fff;
    min-height: calc(100vh - 165px);
    box-shadow: 0 0 2px #000;
}

.toggle {
    height: 65px;
    color: white;
    font-size: 40px;
    padding: 5px 0 0 13px;
}

.leftItem {
    width: 295px;
    border-left: 5px solid #fff;
    height: 80px;
    color: #626262;
    padding: 27px 0 0 25px;
    font-size: 20px;
    cursor: pointer;
    transition: border 0.2s ease;
    transition: padding 0.2s ease;
}

.leftItem:hover {
    border-left: 5px solid #626262;
}

.mini {
    width: 50px;
}

.mini > div > a > .leftItem {
    padding-left: 12px;
}

.wide {
    width: calc(100% - 350px);
}

.right {
    float: left;
    width: 300px;
}

.search {
    color: white;
    height: 65px;
    padding: 25px 0 0 20px;
    font-size: 18px;
}

.sidebar {
    background-color: white;
    float: left;
    width: 300px;
    min-height: calc(100vh - 165px);
    box-shadow: 0 0 2px #000;
    padding: 10px;
}

.createSub {
    left: calc(50% - 50px);
    position: relative;
    width: 100px;
    top: 5px;
}

.submitPost {
    width: 100%;
    margin-top: 10px;
    height: 55px;
    border-radius: 5px;
    background-color: #0365b6;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submitPost:hover {
    margin-top: 15px;
    height: 50px;
}

.submitPostInner {
    text-align: center;
    background-color: #1395ff;
    border-radius: 5px;
    padding-top: 9px;
    height: 50px;
    color: white;
    font-size: 25px;
}

.subName {
    font-size: 30px;
    text-align: center;
    padding: 15px 0;
    text-transform: lowercase;
    font-variant: small-caps;
}

.post {
    width: 100%;
    display: flex;
    border-left: 5px solid #fff;
}

.post:hover {
    background-color: rgb(245, 245, 245);
    border-left: 5px solid rgb(245, 245, 245);
}

.postInner {
    width: calc(100% - 80px);
    padding-top: 15px;
}

a {
    text-decoration: none;
}

.thumbnail {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.postTitle {
    font-size: 18px;
    color: #1395ff;
    border-bottom: 1px #1395ff solid;
    margin-bottom: 3px;
    line-height: 25px;
    cursor: pointer;
}

.postSub {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #626262;
}

.postSub > a, .sub {
    font-variant: small-caps;
}

.voting {
    height: 80px;
    color: #626262;
    display: flex;
    flex-direction: column;
    padding: 8px 0 0 15px;
}

.voting > svg {
    font-size: 30px;
    cursor: pointer;
}

.voting > p {
    line-height: 3px;
    cursor: default;
    text-align: center;
}

.sidebarContent {
    width: 100%;
}

.form {
    padding: 10px;
    margin: 10px auto;
}

.formTitle {
    font-size: 20px;
}

form > input, form > textarea {
    width: 100%;
}

.notfound {
    display: flex;
    width: 100%;
}

.notfoundContent {
    margin: 30px auto 0;
}

.notfoundContent > h1 {
    font-size: 100px;
}

.active, .active:hover {
    border-left: 5px solid #0365b6;
}

.upvoted, .upvoted:hover {
    border-left: 5px solid #ec8f24;
}

svg.upvoted {
    color: #ec8f24;
}

svg.downvoted {
    color: #6503b6;
}

.downvoted, upvoted:hover {
    border-left: 5px solid #6503b6;
}

.reported, reported:hover {
    border-left: 5px solid #b80404;
}

.red, .fail {
    color: red;
}