@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    transition: background-color 0.2s ease;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.background {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(90deg, #a255eb, #1395ff);
    padding-top: 100px;
}

.blue {
    background-color: #1395ff;
    color: white;
}

.container {
    width: 100%;
}

.main {
    width: calc(100% - 600px);
    background-color: rgb(0,0,0,0.5);
    border-radius: 15px 15px 0 0;
    float: left;
}

.mainTop {
    height: 50px;
    margin: 0 auto;
    color: white;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
}

.mainTop > p {
    cursor: pointer;
}

.mainContent {
    background-color: white;
    border-radius: 15px 0 0 0;
    width: 100%;
    min-height: calc(100vh - 150px);
    overflow: hidden;
}

.left {
    width: 300px;
    margin-top: 65px;
    float: left;
}

.leftItem {
    width: 100%;
    height: 80px;
    color: white;
    padding: 27px 0 0 25px;
    font-size: 20px;
}

.leftItem:hover {
    background-color: rgb(0,0,0,0.5);
}

.right {
    float: left;
    width: 300px;
}

.search {
    color: white;
    height: 50px;
    padding: 10px;
}

.sidebar {
    background-color: white;
    float: left;
    width: 300px;
    min-height: calc(100vh - 150px);
    padding: 5px;
}

.subPost {
    width: 250px;
    margin: 25px;
    height: 55px;
    border-radius: 5px;
    background-color: #0365b6;
    cursor: pointer;
}

.subPost:hover {
    margin-top: 30px;
    height: 50px;
}

.subPostInner {
    text-align: center;
    background-color: #1395ff;
    border-radius: 5px;
    padding-top: 8px;
    height: 50px;
    color: white;
    font-size: 25px;
}

.subName {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}

.post {
    width: 100%;
    display: flex;
}

.post:hover {
    background-color: rgb(245, 245, 245);
}

.postInner {
    width: calc(100% - 80px);
    padding-top: 15px;
}

.thumbnail {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.postTitle {
    font-size: 18px;
    color: #1395ff;
    border-bottom: 1px #1395ff solid;
    margin-bottom: 3px;
    line-height: 25px;
}

.postSub {
    margin: 5px 0 10px;
}