<!DOCTYPE html>
<html>

<head>
    <title>Roddit</title>
    <link rel="stylesheet" href="static/roddit.css">
</head>

<body>
    <div class="background">
        <div class="container">
            <div class="left">
                <div class="leftItem">Frontpage</div>
                <div class="leftItem">All</div>
                <div class="leftItem">Popular</div>
            </div>
            <div class="main">
                <div class="mainTop">
                    <p>Hot</p>
                    <p>New</p>
                    <p>Rising</p>
                    <p>Controversial</p>
                    <p>Top</p>
                </div>
                <div class="mainContent">
                    <div class="post">
                        <img class="thumbnail" src="https://i.imgur.com/myE1tkjs.jpg" alt="thumbnail" />
                        <div class="postInner">
                            <span class="postTitle">Hello World! This is a post :)</span>
                            <p class="postSub"><a>10 comments</a> &middot; submitted by <a>/u/mozzius</a> to <a>/r/example</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <img class="thumbnail" src="https://i.imgur.com/myE1tkjs.jpg" alt="thumbnail" />
                        <div class="postInner">
                            <span class="postTitle">This is a really really really really really really really long title, for testing dolphins. Wait no, testing purposes? Yeah. That's the one I mean.</span>
                            <p class="postSub"><a>10 comments</a> &middot; submitted by <a>/u/mozzius</a> to <a>/r/example</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <img class="thumbnail" src="https://i.imgur.com/myE1tkjs.jpg" alt="thumbnail" />
                        <div class="postInner">
                            <span class="postTitle">Hello World! This is a post :)</span>
                            <p class="postSub"><a>10 comments</a> &middot; submitted by <a>/u/mozzius</a> to <a>/r/example</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <img class="thumbnail" src="https://i.imgur.com/myE1tkjs.jpg" alt="thumbnail" />
                        <div class="postInner">
                            <span class="postTitle">Hello World! This is a post :)</span>
                            <p class="postSub"><a>10 comments</a> &middot; submitted by <a>/u/mozzius</a> to <a>/r/example</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <img class="thumbnail" src="https://i.imgur.com/myE1tkjs.jpg" alt="thumbnail" />
                        <div class="postInner">
                            <span class="postTitle">Hello World! This is a post :)</span>
                            <p class="postSub"><a>10 comments</a> &middot; submitted by <a>/u/mozzius</a> to <a>/r/example</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <img class="thumbnail" src="https://i.imgur.com/myE1tkjs.jpg" alt="thumbnail" />
                        <div class="postInner">
                            <span class="postTitle">Hello World! This is a post :)</span>
                            <p class="postSub"><a>10 comments</a> &middot; submitted by <a>/u/mozzius</a> to <a>/r/example</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <img class="thumbnail" src="https://i.imgur.com/myE1tkjs.jpg" alt="thumbnail" />
                        <div class="postInner">
                            <span class="postTitle">Hello World! This is a post :)</span>
                            <p class="postSub"><a>10 comments</a> &middot; submitted by <a>/u/mozzius</a> to <a>/r/example</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="subPost">
                    <div class="subPostInner">Post Something</div>
                </div>
                <p class="subName">/r/frontpage</p>
                <ul>
                    <li><b>Rule 1:</b> Be nice</li>
                    <li><b>Rule 2:</b> Don't be not nice</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>