<!DOCTYPE html>
<html>

<head>
    <title>Roddit</title>
    <link rel="stylesheet" href="/static/roddit.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>

<body>
    <div class="background">
        <div class="container">
            <div class="left">
                {% if subName == 'frontpage' %}
                <div class="leftItem active"><i class="fa fa-home"></i>&nbsp;&nbsp; Frontpage</div>
                {% else %}
                <div class="leftItem"><i class="fa fa-house"></i>&nbsp;&nbsp; Frontpage</div>
                {% endif %}
                <div class="leftItem"><i class="fa fa-globe"></i>&nbsp;&nbsp; All</div>
                <div class="leftItem"><i class="fa fa-rss"></i>&nbsp;&nbsp; Subscriptions</div>
                <div class="voting"></div>
            </div>
            <div class="main">
                <div class="mainTop">
                    <p>Hot</p>
                    <p>New</p>
                    <p>Rising</p>
                    <p>Controversial</p>
                    <p>Top</p>
                </div>
                <div class="mainContent">
                    {% if posts %}
                        {% for post in posts %}
                        <div class="post">
                            <img class="thumbnail" src="{{ post.thumbnail }}" alt="thumbnail" />
                            <div class="postInner">
                                <span class="postTitle">{{ post.title }}</span>
                                <p class="postSub"><a>{{ post.comments }} comments</a> &middot; submitted by <a>/u/{{ post.user }}</a> to <a>/r/{{ post.sub }}</a></p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="notfound">
                            <div class="notfoundContent">
                                <h1>:(</h1>
                                <h2>No posts found, sorry</h2>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="right">
                <div class="search"><i class="fa fa-search"></i>&nbsp; Search</div>
                <div class="sidebar">
                    <div class="subPost">
                        <div class="subPostInner">Post Something</div>
                    </div>
                    <p class="subName">/r/{{ subName }}</p>
                    <ul>
                        <li><b>Rule 1:</b> Be nice</li>
                        <li><b>Rule 2:</b> Don't be not nice</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>